@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 98%;
    --foreground: 224 71.4% 10%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 10%;
    --primary: 262.1 83.3% 57.8%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 90%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 14.3% 95%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 262.1 30% 85%;
    --accent-foreground: 262.1 83.3% 30%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 85%;
    --input: 220 13% 91%;
    --ring: 262.1 83.3% 57.8%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 262.1 83.3% 8%;
    --foreground: 210 20% 98%;
    --card: 262.1 83.3% 12%;
    --card-foreground: 210 20% 98%;
    --popover: 262.1 83.3% 12%;
    --popover-foreground: 210 20% 98%;
    --primary: 263.4 70% 55%;
    --primary-foreground: 210 20% 98%;
    --secondary: 263.4 30% 25%;
    --secondary-foreground: 210 20% 98%;
    --muted: 263.4 20% 20%;
    --muted-foreground: 217.9 10.6% 70%;
    --accent: 263.4 40% 30%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 72% 45%;
    --destructive-foreground: 210 20% 98%;
    --border: 263.4 30% 30%;
    --input: 263.4 30% 25%;
    --ring: 263.4 70% 55%;
  }

  * {
    @apply border-border;
  }
  
  html,
  body {
    @apply h-full;
  }
  
  body {
    @apply bg-background text-foreground;
  }

  body:not(.dark) {
    background: linear-gradient(to bottom, #f7f7f7, #ffffff);
    background-attachment: fixed;
  }

  .dark body {
    background: linear-gradient(to bottom, #2e026d, #310979);
    background-attachment: fixed;
  }

  h1 {
    @apply scroll-m-20 text-2xl font-bold tracking-tight lg:text-3xl;
  }

  h2 {
    @apply scroll-m-20 text-xl font-semibold tracking-tight;
  }

  p {
    @apply leading-7;
  }

  blockquote {
    @apply mt-6 border-l-4 pl-4 italic;
  }

  container {
    @apply px-2 py-6 md:px-6 lg:px-12 xl:px-16;
  }
}

#__next,
#root,
div[data-nextjs-root] {
  @apply h-full flex flex-col;
}
